div.container {
    background: #EB6C8E;
    background-size: cover;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
div.titleChildren{
    position: absolute;
    width: 100%;
    top: 78%;
    height: 26%;
    color:white;
}
div.titleChildren p {
    font-family: 'Lobster Two', cursive;
    font-size: 5rem;
    text-align: -webkit-center;
    position: relative;
    bottom: 33%;
}
.footer_pague{
    background: #EB6C8E;
    position: relative;
    top: 39.9rem;
    width: 100%;
    height: 50%;
}

.btnContact{
    font-family: 'Lobster Two', cursive;
    font-size: 29px;
    color: white;
}

.contactClass{
    position: relative;
    left: 25%;
    top: 1.5rem;
    width: 23%;
}

.maps_layout{
    position: relative;
    width: 50%;
    left: 46%;
    bottom: 1rem;
}

.redSocial{
    position: relative;
    width: 6%;
    left: 77%;
    bottom: 2rem;
}
div.copyRight{
    width: 50%;
    color: white;
    position: relative;
    left: 30%;
    bottom: 1rem;
}

mat-grid-list{
    display: none;
}

@media only screen and (max-width: 800px) {
    .footer_pague{
        top: 38.9rem;
        height: 15rem;
    }
    .contactClass{
        left: 33%;
    }
    .maps_layout{
        left: 22%;
        top: 3rem;
    }
    .redSocial {
        width: 23%;
        left: 43%;
        top: 5rem;
    }
}    
@media only screen and (max-width: 600px) {
    div.container{
        display: none;
    }
    mat-grid-list{
        display: block;
    }  
    .footer_pague{
        position: relative;
        width: 100%;
        height: 15rem;
        top: 0.2rem;
        background: #FF4081;
    }
    .contactClass{
        left: 26%;
    }
    .maps_layout{
        position: relative;
        width: 90%;
        left: 5%;
        top: 3rem;
    }
    .btnContact{
        font-size: 27px;
     } 
     .redSocial {
        position: relative;
        width: 22%;
        left: 42%;
        top: 4rem;
    }   
    div.copyRight{
        width: 80%;
        left: 14%;
        top: 5rem;
    }
  }
