  <app-carrusel-img></app-carrusel-img> 
  <mat-divider class="firstdivder"></mat-divider>
  <app-chat-bot></app-chat-bot>
  <app-second-section></app-second-section>
  <mat-divider class="firstdivder secondDividerMobile"></mat-divider>
  <app-third-section></app-third-section>

  <section class="sectFooterPague">
      <ul class="footer">
        <li>
            <button mat-button class="btnContact" routerLink = "/contactus" > <img src="https://img.icons8.com/office/40/000000/email.png"> Contacto!</button> 
        </li>
        <li>
            <button mat-button class="btnContact mobileLocation"> <img src="https://img.icons8.com/office/40/000000/marker.png"> Argentina, Buenos Aires </button>
        </li>
      </ul>
      <div class="copyRight">
          <small>
            Copyright 2018-2019 by Childrens&Therapyapp. All Rights Reserved.
            Powered by childrens&therapyapp.
          </small> 
      </div>
  </section>

  <mat-grid-list cols="1" rowHeight="2:1" class="sectFooterPagueMOBILE">
      <mat-grid-tile>
          <ul class="footerMobile">
              <li>
                  <button mat-button class="btnContact" routerLink = "/contactus" > <img src="https://img.icons8.com/office/40/000000/email.png"> Contacto!</button> 
              </li>
              <li>
                  <button mat-button class="btnContact mobileLocation"> <img src="https://img.icons8.com/office/40/000000/marker.png"> Argentina, Buenos Aires </button>
              </li>
              <li>
                  <small>
                      Copyright 2018-2019 by Childrens&Therapyapp. All Rights Reserved.
                      Powered by childrens&therapyapp.
                    </small> 
              </li>
            </ul>
      </mat-grid-tile>
    </mat-grid-list>