section.sectFooterPague{
    position: relative;
    top: 8.5rem;
    height: 8rem;
    color: #EB6C8E;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    margin-left: 1rem;
    margin-right: 1rem;
}
section ul.footer {
    list-style: none;
    position: relative;
    left: 31%;
    width: 50%;
}
section ul.footer li{
    display: inline-block;
    padding: 0 1em 0 0;
    margin-top: 2rem;
}
.copyRight{
    position: relative;
    left: 26%;
    width: 50%;
}

.firstdivder{
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    position: relative;
    top: 6rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

@media only screen and (max-width: 500px) {
    .firstdivder{
        top: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .secondDividerMobile{
        top: 0rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .btnContact{
        position: relative;
        right: 3rem;
    }
    .mobileLocation{
        right: 6rem;
    }
    .copyRight{
        left: 10%;
        width: 90%;
        margin-bottom: 2rem;
        text-align: center;
    }
    .sectFooterPague{
        top: 0.5rem !important;
    }

}