section.sectFooterPague{
    position: relative;
    top: 8.5rem;
    height: 8rem;
    color: #EB6C8E;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    margin-left: 1rem;
    margin-right: 1rem;
}
section ul.footer {
    list-style: none;
    position: relative;
    left: 31%;
    width: 50%;
}
section ul.footer li{
    display: inline-block;
    padding: 0 1em 0 0;
    margin-top: 2rem;
}
.copyRight{
    position: relative;
    left: 26%;
    width: 50%;
}

.firstdivder{
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    position: relative;
    top: 6rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.sectFooterPagueMOBILE{
    display: none;
}

@media only screen and (max-width: 800px) {
    .sectFooterPague{
        display: none;
    }
    .sectFooterPagueMOBILE{
        display: block;
        margin-top: 3rem;
        border-top: solid 2px rgba(210, 215, 217, 0.75);
    }
    .footerMobile{
       text-align: center;
       list-style: none;
       color: #EB6C8E;
       margin-right: 1rem;
    }
    .firstdivder{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .secondDividerMobile{
        top: 33rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media only screen and (max-width:650px) {
    .secondDividerMobile{
        top: 20rem;
    }
}


@media only screen and (max-width: 330px) {
    .sectFooterPagueMOBILE{
        margin-top: 7rem;
    }
}