.galeryImgData{
    margin-top: 5.2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFD8E8;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.cardIMGsize{
    margin: 2rem;
    width: 30%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.btnshowGalrey{
    margin-right: 0rem;
    margin-bottom: 0rem;
}

@media only screen and (max-width: 800px) {
    .galeryImgData{
        margin-top: 3.2rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
    }
    .cardIMGsize{
        width: -moz-available; 
        width: -webkit-fill-available;
        margin: 1rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}