.sidenav-container{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
mat-sidenav.mat-drawer.mat-sidenav{
    width: 20%;
}
.mat-nav-list{
    padding-top: 25%
}
a#linkBtn1{
    cursor: pointer;
    position: relative;
    left: 74%;
    top: 7%;
}
a#linkBtn2{
    cursor: pointer;
    position: relative;
    left: 75%;
    top: 7%;
}
span h3{
    font-family: 'Indie Flower', cursive;
}
div.dd{
    margin-top: 8%;
}

mat-toolbar{
    position: fixed;
    z-index: 10000;
}

.firstFoot{
    position: relative;
    top: 16px;
}

.secondFoot{
    position: relative;
    right: 17%;
    top: 10px; 
}

@media only screen and (max-width: 600px) {
    mat-sidenav.mat-drawer.mat-sidenav[_ngcontent-c1] {
        width: 45%;
    }
    a#linkBtn1{
        left: 11%;
        top: 8%;
    }
    a#linkBtn2{
        left: 13%;
        top: 8%;
    }
    div.dd{
        margin-top: 20%;
    }
    .mat-nav-list{
        padding-top: 33%
    }
  }

