<mat-sidenav-container class="sidenav-container" (backdropClick)="onClickData()">
  <mat-sidenav #sidenav  (keydown.escape)="onClickData()" disableClose>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click) = "onClickData('')">  <mat-icon>home</mat-icon> Inicio </a>
      <a mat-list-item (click) = "onClickData('information')">   <i class="material-icons"> face </i> Que Ofrecemos</a>
      <a mat-list-item (click) = "onClickData('allInformation')" > <mat-icon>description</mat-icon>  Temas </a>
      <a mat-list-item (click) = "onClickData('contactus')" ><mat-icon>perm_contact_calendar</mat-icon> Contacto </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.open()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> 
        <h3><b> Childrens&Therapy </b></h3>
      </span>
       <a id="linkBtn1" matBadgeOverlap="false" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/oriana_itriago/?hl=es-la"> <img src="https://img.icons8.com/material/24/000000/instagram-new.png"></a>
       <a id="linkBtn2" matBadgeOverlap="false" target="_blank" rel="noopener noreferrer" href="https://es-la.facebook.com/" > <img src="https://img.icons8.com/material/24/000000/facebook.png"> </a>  
    </mat-toolbar>
    <!-- Add Content Here -->
        <router-outlet></router-outlet>  
          
  </mat-sidenav-content>
</mat-sidenav-container>





<!--
<mat-toolbar color="accent">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <i class="material-icons"> list</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink = "/">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
    </button>
    <button mat-menu-item routerLink = "/information">
      <mat-icon>find_replace</mat-icon>
      <span>Nuestra Mision</span>
    </button>
    <button mat-menu-item routerLink = "/information">
      <i class="material-icons"> face </i>
      <span> Que Ofrecemos </span>
    </button>
    
    <button mat-menu-item routerLink = "/allInformation">
      <mat-icon>description</mat-icon>
      <span>Información</span>
    </button>
    <button mat-menu-item routerLink = "/contactus">
      <mat-icon>perm_contact_calendar</mat-icon>
      <span>Contacto</span>
    </button>

  </mat-menu> 
  <h3><b> Childrens&Therapy </b></h3>
  <a id="linkBtn1" matBadgeOverlap="false" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/oriana_itriago/?hl=es-la"> <img src="https://img.icons8.com/material/24/000000/instagram-new.png"></a>
  <mat-icon id="linkBtn2" matBadgeOverlap="false"> <img src="https://img.icons8.com/material/24/000000/facebook.png"> </mat-icon>  
</mat-toolbar>
<router-outlet></router-outlet>
     --> 