.img-carrusel{
    margin-top: 7rem;
    width: 95%;
    height: 70%;
    margin-left: 2rem;
}
.slideshow-container{
    background-size: cover;
}
.icarruselMOBILE{
    display: none;
}

@media only screen and (max-width: 800px) {
    .img-carrusel{
        margin-top: 0rem;
        width: -webkit-fill-available;
        height: 0%;
        margin-left: 0rem;
        padding-top: 5rem;
    }
}

@media only screen and (max-width: 650px) {
    .img-carrusel{
        display: none;
    }
    .icarruselMOBILE{
        display: block
    }
    .gridMObileti{
        margin-top: 3rem !important;
    }
    slideshow.slMOBILE{
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    }

}