.example-form{
    display: flex;
    flex-direction: column;
}
.card-example{
    width: 70%;
    margin-top: 3%;
    position: absolute;
    right: 5%;
}
.example-container {
    height: 37rem;
  }
.mat-drawer.mat-drawer-side {
    width: 50%;
    background-image: url("../../img/children.jpg");
    background-size: cover;
}


@media only screen and (max-width: 600px) {
    mat-drawer-content {
        position: initial;
        display: unset;
    }
    .card-example {
        right: 7%;
        width: 80%;
        top: 5%;
    }

    .mat-drawer{
        display : none;
    }
  }
