.example-form{
    display: flex;
    flex-direction: column;
}
.card-example{
    position: relative;
    width: 42%;
    left: 50%;
    top: 4rem;
    height: 72%;
}
.example-container {
    height: 37rem;
  }
mat-drawer-container.example-container{
    background-image: url("../../img/contactUs.png");
    background-size: cover;
    margin-top: 4%;
}

@media only screen and (max-width: 600px) {
    mat-drawer-content {
        position: initial;
        display: unset;
    }
    .card-example {
        left: 10px;
        width: 86%;
        height: 65%;
    }

    .mat-drawer{
        display : none;
    }
  }
