.example-form{
    display: flex;
    flex-direction: column;
}
.card-example{
    position: relative;
    width: 42%;
    left: 49.5%;
    top: 6.5rem;
    height: 64%;
    background-color: #EB6C8E;
    border-radius: 1rem;
    color: white;
}

.containerImg{
    background-image: url("../../img/contactUS2.png");
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 5%;
}

@media only screen and (max-width: 600px) {
    mat-drawer-content {
        position: initial;
        display: unset;
    }
    .card-example {
        left: 10px;
        width: 86%;
        height: 65%;
    }

    .mat-drawer{
        display : none;
    }
  }
