.thirdgridNotMobile{
    position: relative;
    top: 6.5rem;
}

ul.allthirdText {
    list-style: none;
}

ul.allthirdText li{
    margin:1rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    line-height: 1.6;
    color: #FF4081;
}

img.img-third-section{
    width: 85%;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.thirdgridMobile{
    display: none;
}

@media only screen and (max-width: 800px) {
    .thirdgridNotMobile[_ngcontent-c13] {
        position: relative;
        margin-top: 36rem;
        top: 0rem;
    }
}

@media only screen and (max-width: 650px) {
    .thirdgridNotMobile{
        display: none;
    }
    .thirdgridMobile{
        display: block;
        margin-top: 25rem;
    }

    .allthirdTextMobile{
        text-align: left;
        list-style: none;
        margin-right: 1rem;
        color: #FF4081;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (max-width: 330px) {
    .gridOfrecemosMobil{
        height: 3rem;
    }
}