mat-grid-list.NoMobile {
    top: 39.7rem;
    background-color: #EB6C8E;
}

.container-data{
    position: relative;
    bottom: 5rem;
    width: 90%;
    color: white;
    margin-left: 1rem;
}

.titleText{
    font-family: 'Montserrat', sans-serif;
}

mat-list mat-list-item{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

div.imgData{
    background-image: url('http://gualeguaychu.gov.ar/apps/dashboard/ftp/web/images/landscape_o__Gualeguaychu_1503422818.jpg');
    background-size: cover;
    position: relative;
    border-radius: 5rem;
    right: 0%;
    width: 90%;
    height: 45%;
}

.colum-two{
    background: white;
}

mat-grid-list.Mobile{
    display: none;
}

@media only screen and (max-width: 800px) {

    mat-grid-list.NoMobile{
        top: 38.5rem;
        background-color: #EB6C8E;
        height: 16rem;
    }
    mat-grid-tile.firstcol, .colum-two{
        height: 16rem;
    }
    .tabletDesign{
        padding-top:2rem; 
    }
    
}

@media only screen and (max-width: 600px) {
    mat-grid-list.NoMobile{
        display: none;
    }
    mat-grid-list.Mobile{
        display: block;
    }
    .imgMobile{
        background-image: url('http://gualeguaychu.gov.ar/apps/dashboard/ftp/web/images/landscape_o__Gualeguaychu_1503422818.jpg');
        background-size: cover;
        position: absolute;
        border-radius: 4rem;
        left: 5%;
        right: 0%;
        top: 3%;
        bottom: 0%;
        width: 90%;
        height: 77%;
     }
     mat-grid-list mat-grid-tile.colm4{
        background:#FF4081;
    }
    .titleTextMObile{
        font-family: 'Amatic SC', cursive;
        position: relative;
        top: 9rem;
        color: black;
    }
    .parrfMobileText{
        font-family: 'Montserrat', sans-serif;
        font-size: medium;
        color: white;
        text-align: justify;
        width: 95%;
        margin-bottom: 9rem;
    }
}