<mat-grid-list  class="NoMobile" cols="2" rowHeight="2:2">
    <mat-grid-tile class="firstcol">
      <div class="container-data" [@scrollAnimation]="state" >
        <h1 class="titleText">Ofrecemos servicos de:</h1>
        <mat-list>
          <mat-list-item> Estimulacion temprana. </mat-list-item>
          <mat-list-item> Grafomotricidad. </mat-list-item>
          <mat-list-item class="tabletDesign"> Terapia Ocupacional con formación en integración sensorial.  </mat-list-item>
          <mat-list-item class="tabletDesign"> Terapia Ocupacional en chicos transtornos del neurodesarrollo (TEA). </mat-list-item>
        </mat-list>
     </div>
    </mat-grid-tile>
    <mat-grid-tile class="colum-two">
      <div class="imgData" [@scrollImg]="state" ></div>
    </mat-grid-tile>
  </mat-grid-list>

<!-- MoBILe -->
<mat-grid-list class="Mobile" cols="1" rowHeight="2:2">
    <mat-grid-tile class="colm3">
      <div class="imgMobile">
  
      </div>
      <h1 class="titleTextMObile">Áreas de Abordaje</h1>
    </mat-grid-tile>
    <mat-grid-tile class="colm4" >
            <div class="parrfMobileText" [@scrollAnimation]="state">
              <mat-list>
                <mat-list-item> Estimulacion temprana. </mat-list-item>
                <mat-list-item> Grafomotricidad. </mat-list-item>
                <mat-list-item> Terapia Ocupacional con formación en integración sensorial.  </mat-list-item>
                <mat-list-item> Terapia Ocupacional en chicos transtornos del neurodesarrollo (TEA). </mat-list-item>
              </mat-list>
            </div>
    </mat-grid-tile>
  </mat-grid-list>
