.secondgridNotMobile{
    position: relative;
    top: 6.5rem
}
img.img-second-section{
    width: 92%;
    border-radius: 1rem;
}

ul.listWhoisText{
    list-style: none;
}
ul.listWhoisText li {
    margin:1rem;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    line-height: 1.6;
    color: #FF4081;
}
ul.listWhoisText li p{
    margin-right: 1rem;
}
.secondgridMobile{
    display: none;
}

@media only screen and (max-width: 800px) {
    .colNewIpad{
        height: 24rem;
    }
}

@media only screen and (max-width: 650px) {
    .secondgridNotMobile{
        display: none;
    }
    .secondgridMobile{
        display: block;
        margin-top: 7rem;
    }
    .firstColMobile{
        height: 5rem;
    }
    ul.gridTitleMobile{
        list-style: none;
        text-align: center;
        color: #FF4081;
        margin-right: 1rem;
        font-family: 'Montserrat', sans-serif;
    }
    .secondColMobile{
        height: 14rem;
    }
    .gridContentMobileText{
        text-align: justify;
        list-style: none;
        margin-right: 1rem;
        color: #FF4081;
        font-family: 'Montserrat', sans-serif;
    }

}

