<mat-card class="info-card2">
  <mat-card-header>
      <mat-card-title> {{tittle}} </mat-card-title>
  </mat-card-header>
  <div class="imgURL" *ngIf = "url">
      <img mat-card-image src="{{url}}" alt="Photo of a Shiba Inu">
  </div>
    <mat-card-content *ngFor = "let itemLis of inform ">
       <p style=" text-align: justify; ">{{itemLis}}</p>
    </mat-card-content>    
  <mat-card-actions align="end">
     <button mat-button routerLink="/allInformation" color="accent">Regresar</button>
  </mat-card-actions>
  
</mat-card>
<!--
<mat-card class="info-card2">
  <mat-card-header>
      <mat-card-title> Children&Therapy </mat-card-title>
  </mat-card-header>
    <mat-card-content>
        ...
    </mat-card-content>
  <mat-card-actions align="end">
     <button mat-button routerLink="/" color="accent">Regresar</button>
  </mat-card-actions>
  
</mat-card>
-->

