.moreInformation{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 3.2rem;
    background: #FFD8E8;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    height: fit-content;
}

.info-card2{
    width: 35%;
    margin-top: 3rem;
    margin-left: 25rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.mat-card-header {
    margin-bottom: 1.7rem; 
}

.likeOrNotLike{
    position: relative;
    bottom: 1rem;
}

.mat-card-title {
    font-size: 15px !important;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.likeBtn{
    margin-right: 1rem;
}

.likeBtnIcon{
    position: relative;
    margin-left: 4px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 800px) {
    .info-card2{
        width: -moz-available; 
        width: -webkit-fill-available !important;
        margin-right: 1rem;
        margin-left: 1rem !important;
    }
}
