.info-card2{
    width: 35%;
    margin-top: 6rem;
    margin-left: 25rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.mat-card-header {
    margin-bottom: 1.7rem; 
}

.likeOrNotLike{
    position: relative;
    bottom: 1rem;
}

.mat-card-title {
    font-size: 15px !important;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

.likeBtn{
    margin-right: 1rem;
}

.likeBtnIcon{
    position: relative;
    margin-left: 4px;
    margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
    .info-card2{
        width: 81% !important;
        margin-left: 1.5rem !important;
    }
}

@media only screen and (max-width: 800px) {
    .info-card2 {
        width: 75%;
        margin-left: 4rem;
    }
}
