.info-card2{
    position: absolute;
    left: 30%;
    width: 35%;
    margin-top: 7%;
    margin-bottom: 3%;
    border-radius: 1rem;
}

.mat-card-image:first-child {
    margin-top: 0px !important; 
}

.mat-card-title {
    font-size: 15px !important;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
}

@media only screen and (max-width: 800px) {
    .info-card2{
        left: 5%;
        width: 81%;
        margin-top: 25%;
    }
}
