<mat-card [ngStyle]=  "{'display': show ? 'none' : 'block' }">
  <mat-card-title class="titleCardStyle">
       <div class="textTitleCardData"> Childrens&Therapy </div> <img class="exit-icon" src="https://img.icons8.com/doodle/24/000000/delete-sign.png" (click) ="onChangedButton('true')">
  </mat-card-title>
  <div class="messageChat" #scrollMe [scrollTop]="scrollMe.scrollHeight" >
      <div class="dataMssg" *ngFor = "let msg of listChatMssg; let i = index"   [ngClass] = "{'userStyle' : msg.sentBy == 'user',
                                                                                'botStyle' : msg.sentBy == 'bot'    }" >
         <p class="textPackData">{{msg.chat}} </p> 
         <div class="buttonQuestion" *ngIf="i == 1">
            <button mat-stroked-button  class="firstButtonChat" color="primary" (click) = "onSendMessage('Terapia')" > Terapia </button>
            <button mat-stroked-button class="secondButtonChat" color="accent"  (click) = "onSendMessage('Contacto')" > Contacto </button>
         </div>
      </div>
  </div>
  <form  #chatbot = "ngForm" (ngSubmit) = "onSendMessage()" >
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Message" value="" name="chatMy"  #name ="ngModel" [(ngModel)] = "chatMy" required>
      </mat-form-field>
      <button mat-icon-button type="submit"  class="mssgIcon-button" [disabled] = "!chatbot.valid" > 
          <i class="material-icons" > send </i>
      </button>    
  </form>  
</mat-card>

<button  class="buttonActiveShow" mat-fab  [ngStyle]=  "{'display': show ? 'block' : 'none' }"  (click) = "onChangedButton('false')"> <i class="material-icons">
    message
    </i> </button>