.card-example{
    position: relative;
    width: 95%;
    height: 27rem;
    border-radius: 1rem
}
.example-form{
    flex-direction: column;
    display: flex;
}
.btnClosed{
    position: absolute;
    width: 14%;
    left: 75%;
    bottom: 5.3rem;

}
@media only screen and (max-width: 800px) {
    .card-example {
        left: 10px;
        width: 86%;
        height: 65%;
    }
    .btnClosed{       
        width: 14%;
        left: 28%;
        bottom: 3rem;
    }
}