<div class="contanierAll">
  <div class="serchD">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Buscar" [(ngModel)] = "datafilter" (ngModelChange)="clearFilter()">
    </mat-form-field>
  </div>
  
  <div class="spinnerF" *ngIf="flagProgress">
      <mat-spinner></mat-spinner>
  </div>

  <div class="container">
      <mat-card class="example-card" *ngFor = "let cList of cardListFilter">
        <div class="titleCards">
            {{cList.title}}
          </div>
          <img mat-card-image [src]="cList.urlImg" width="100" height="200" >
          <!--
          <mat-card-content>
            <p style="text-align: justify;
            padding-left: 1rem;" >
                {{cList.alltext | slice:0:100}}...
            </p>
        </mat-card-content>
          -->
          
        <div class="btnFooter">
              <button mat-button   color="accent" (click) = "onItemClick(cList)" >Ver Mas</button>
        </div>       
     </mat-card>
     
     <div class="error-card-all" *ngIf="flagFilter">
        <mat-card class="example-card-error" >
            <img class="card-img" mat-card-image src="https://img.pngio.com/xpop-up-alertpngpagespeedicvwzzznkrf-hunters-glen-alert-png-777_808.png">
            <mat-card-content>
              <p>
                No se encontro ningun tema, por favor escriba otra palabra.
              </p>
            </mat-card-content>
          </mat-card>
     </div>

  </div>
</div>  
  