.contanierAll{
   background: url('https://res.cloudinary.com/dqqmkhxna/image/upload/v1564506500/temas%20img/imgOther_fp4vq6.jpg') no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-top: 5.4rem;
   border-top-left-radius: 1.5rem;
   border-top-right-radius: 1.5rem;
}

div.serchD{
   padding: 2rem;
}

mat-form-field.example-full-width{
    width: 35%;
}

div.container{
   margin-left: 4%;
}

.example-card{
    margin: 0.5rem;
    width: 21rem;
    height: 12rem;
    border-radius: 1rem;
    display: inline-grid;
}

div.titleCards{
   font-family: 'Indie Flower', cursive;
   margin-bottom: 6%;
}

div.btnFooter{
   text-align: right;
   margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
   .contanierAll{
      background:  url('https://res.cloudinary.com/dqqmkhxna/image/upload/v1564506497/temas%20img/temaImg_yg5d8v.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: -webkit-fill-available;
      width: -moz-available;
      margin-top: 0rem;
      overflow: hidden;
   }
   div.serchD{
      padding: 1rem;
      padding-top: 4rem;
   }
   div.container{
      margin-left: 3% !important;
   }

   mat-form-field.example-full-width{
      width: 85% !important;
      margin-left: 2% !important;
   }
   .example-card{
      width: -moz-available; 
      width: -webkit-fill-available;
      margin-right: 1rem;
   }
}