.contanierAll{
   background-image: url('../../img/savory.png');
   background-size: cover;
   position: absolute;
   margin-top: 4rem;
}

div.serchD{
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 3%;
}

mat-form-field.example-full-width{
    width: 35%;
}

div.container{
   margin-left: 4%;
}

.example-card{
    margin: 0.5rem;
    width: 21rem;
    height: 12rem;
    float: left;
    border-radius: 1rem;
}

div.titleCards{
   font-family: 'Indie Flower', cursive;
   margin-bottom: 6%;
}

div.btnFooter{
   position: relative;
   left: 74%;
   top: 14%;
   width: 31%;
}

@media only screen and (max-width: 600px) {
   .contanierAll{
      margin-top: 3.5rem;
      background-size: inherit;
   }

   div.container{
      margin-left: 3% !important;
   }

   mat-form-field.example-full-width{
      width: 85% !important;
      margin-left: 2% !important;
   }

   .example-card{
      width: 18rem;
   }
}

@media only screen and (max-width: 800px) {
   div.container{
      margin-left: 15%;
   }
   mat-form-field.example-full-width{
      margin-left: 10%;
      width: 50%;
   }

}