div.secondContainer{
    background-image: url('../../img/secondModel.png');
    position: relative;
    top: 39.7rem;
    width: 100%;
    height: 39rem;
}
div.container-data p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
div.container-data{
    position: relative;
    width: 42%;
    left: 51%;
    top: 11rem;
}
mat-grid-list{
    display: none;
}
.whoUs{
    font-family: 'Amatic SC', cursive;
}
.titleChildrenLayout{
    position: absolute;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5rem;
    top: 39%;
    width: 100%;
    height: 23%;
    text-align: center;
    color: #EB6C8E;
}
@media only screen and (max-width: 800px) {
    div.secondContainer{
        display: none;
    }
    mat-grid-list mat-grid-tile.colm2, .colm4{
        background:#FF4081;
   }
    mat-grid-list{
        display: block;
    }
    .imgMobile{
        background-image: url('../../img/logoTerapia.jpg');
        background-size: cover;
        position: absolute;
        border-radius: 5rem;
        left: 37%;
        right: 0%;
        top: 56%;
        bottom: 0%;
        width: 25%;
        height: 25%;
    }
    .whoUs{
        position: relative;
        top: 9rem;
        font-family: 'Amatic SC', cursive;
    }

    .firtParr{
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top: 0%;
        font-size: 0.9rem;
        left: 2%;
        color: white;
        text-align: justify;
        width: 95%;
    }
    .secondParrf{
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        left: 2%;
        top: 55%;
        font-size: 0.9rem;
        color: white;
        text-align: justify;
        width: 95%;
    }
}