<div class="secondContainer" >
  <div class="container-data" [@scrollAnimation]="state" >
     <h1 class ="whoUs">¿Quienes somos?</h1>
      <p><b>
          Representamos una organización encargada de la promoción y prevención de patologías 
          desde el marco de la Terapia Ocupacional en el área infantil; a su vez te ofrecemos 
          información y orientación acerca de las etapas del desarrollo psicomotor de tu bebe, 
          como estimularlo de forma adecuada y sencilla, como apoyarlo en el proceso de control 
          de esfínteres, sus primeras palabras y los procesos de adaptación escolar. </b></p>
      
         <p><b>     
         Nos interesan tus dudas acerca del desempeño ocupacional de tu bebe e hijo, 
         por tanto te brindamos información de calidad y utilidad, a fin de facilitar el manejo 
         de los chicos en el hogar y los diferentes contextos en donde se desempeñan (escuela, comunidad).      
        </b></p>
  </div>
</div>

<!-- MObile -->

<mat-grid-list cols="1" rowHeight="2:2">
  <mat-grid-tile class="colm3">
    <div class="titleChildrenLayout">
      <p style="
      position: relative;
      bottom: 2rem;
      " > Childrens   & Therapy </p>
    </div> 
    <div class="imgMobile">
    </div>
    <h1 class ="whoUs">¿Quienes somos?</h1>
  </mat-grid-tile>
  <mat-grid-tile class="colm4" [@scrollAnimation]="state" >
          <div class="firtParr">
              <p><b>
                  Representamos una organización encargada de la promoción y prevención de patologías 
                  desde el marco de la Terapia Ocupacional en el área infantil; a su vez te ofrecemos 
                  información y orientación acerca de las etapas del desarrollo psicomotor de tu bebe, 
                  como estimularlo de forma adecuada y sencilla, como apoyarlo en el proceso de control 
                  de esfínteres, sus primeras palabras y los procesos de adaptación escolar. </b></p>
          </div>
          <div class="secondParrf">
              <p><b>
                  Nos interesan tus dudas acerca del desempeño ocupacional de tu bebe e hijo, 
                  por tanto te brindamos información de calidad y utilidad, a fin de facilitar el manejo 
                  de los chicos en el hogar y los diferentes contextos en donde se desempeñan (escuela, comunidad).      
                </b></p>
          </div>        
  </mat-grid-tile>
</mat-grid-list>